<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FaceRec</title>
</head>
{% load staticfiles %}
<script src="{%static 'js/vue.min.js/' %}"></script>

<script src="{%static 'js/jQuery.js' %}"></script>
<script src="{%static 'js/materialize.min.js' %}"></script>
<link rel="stylesheet" href="{%static 'css/materialize.min.css' %}">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body style="background-color: #1a237e">
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>


  <div class="row">
      <div class="col s12 m4"></div>

        <div class="col s12 m4" >
            <form enctype="multipart/form-data" method="post" action="/register/">
            {% csrf_token %}
            <div class="card "  style="background-color: #0D47A1;" id="register">
             <div class="card-content white-text">

                 <p>
                        <label for="students">
                          <input name="type" type="radio" id="students" value="students" checked="checked" class="with-gap" onclick="status1()" /><span >学生</span>
                        </label>
                        <label for="teachers">
                          <input name="type" type="radio" id="teachers" value="teachers" class="with-gap" onclick="status2()" />
                          <span >老师</span>
                      </label>
                 </p>

                 <br>
                 <label for="name">姓名：</label>
                 <input type="text" id="name" name="name">{{ content }}
                 <br/>
                 <label for="pwd">密码：</label>
                 <input type="text" id="pwd" name="pwd">{{ status }}
                 <br/>
                 <label for="img" v-if="ok">上传头像：</label>
                 <input type="file" id="img" v-if="ok" name="img">

                <div class="card-action">
                    <button class="waves-effect waves-light btn" type="button" onclick="back()"> <i class="material-icons right">send</i> 登陆</button>
                    <button class="waves-effect waves-light btn" type="submit" >  注册<i class="material-icons left">cloud</i></button>
                </div>
             </div>
            </div>
            </form>
        </div>
         </form>


      <div class="col s12 m4"></div>
  </div>


</body>
<script>
    var app = new Vue({
        el:"#register",
        data:{
            ok:true
        }
    })
    function status1() {
        app.ok = true
    }
    function status2() {
        app.ok = false
    }
    function back() {
        window.location = "/login"
    }
</script>
<script>

</script>
</html>